*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-size: 12px;
}
body{
    background-color: #201820;
}
.contenue{
    width: 100%;
    max-height: 100vh;
    overflow-y: scroll;
    /* position: relative; */
}

form{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    background-color: #324f53; 
}

.champs_message{
    padding: 1rem;
    /* height: 90vh; */
    width: 100%;
    background-color: #fff;
}
.champs_complet{
    padding: 1rem;
    border-radius: 10px;
    font-size: 1.2rem;
    background-color: rgba(68, 68, 208, 0.647);
    margin-bottom: 1rem;
}
.texte_nom{
    font-size: 1.1rem;
    font-weight: 700;
    cursor: pointer;
    padding-bottom: .5rem;
}
.texte_message{
    /* padding: 1rem; */
    /* border-radius: 10px; */
    font-size: 1.3rem;
    /* background-color: rgba(68, 68, 208, 0.647); */
}

.champs_contenue{
    width: 100%;
    display: flex;
    /* position: absolute;
    bottom: 0; */
}
.champs_ecrire{
    width: 80%;
}
input{
    width: 100%;
    padding: .5rem;
    outline: none;
}
button{
    width: 20%;
    cursor: pointer;
    background-color: #2f2f2f;
    color: #fff;
    outline: none;
    transition: all .3s ease;
    border: 1px solid #2f2f2f;
}
button:hover{
    background-color: #fff;
    color: #2f2f2f;
}